.badge {
  font-family: var(--gilroy700);
  font-size: 16px;
  background: var(--bg);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
